<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration Complete</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="main">
        <div id="canvas">
            <div id="form-body"; style="text-align: center">
                <br>
                <h1>Registration Complete!</h1>
                <br>
                <br>
                <p>Your account has been successfully created. You can now log in.</p>
                <br>
                <br>
                <a href="/login">
                    <button type="button" class="btn btn-primary">Login Now</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
